<div class="gx-card gx-page-block">
    <div class="gx-card-header header-575">
        <h4 class="gx-card-title">Core Features</h4>
        <!-- <div class="header-tools">
            <a href="#" class="m-r-10 gx-full-card">
                <i class="ri-fullscreen-line" title="Full Screen"></i></a>
        </div> -->
    </div>
    <div class="gx-card-content">
        <div class="intro">
            <div class="row mb-m-24">
                <div class="col-md-3">
                    <div class="feature-card">
                        <img src="assets/img/features/1.png" alt="features">
                        <h5>Bootstrap</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-card">
                        <img src="assets/img/features/3.png" alt="features">
                        <h5>HTML</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-card">
                        <img src="assets/img/features/2.png" alt="features">
                        <h5>CSS</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-card">
                        <img src="assets/img/features/8.png" alt="features">
                        <h5>SCSS</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-card">
                        <img src="assets/img/features/11.png" alt="features">
                        <h5>W3 Validate</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-card">
                        <img src="assets/img/features/7.png" alt="features">
                        <h5>Responsive</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-card">
                        <img src="assets/img/features/5.png" alt="features">
                        <h5>Google Font</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-card">
                        <img src="assets/img/features/4.png" alt="features">
                        <h5>Browser Compatibility</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-card">
                        <img src="assets/img/features/9.png" alt="features">
                        <h5>SEO Optimize</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-card">
                        <img src="assets/img/features/12.png" alt="features">
                        <h5>Well Documentation</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-card">
                        <img src="assets/img/features/6.png" alt="features">
                        <h5>Owe Carousel</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-card">
                        <img src="assets/img/features/10.png" alt="features">
                        <h5>Slick Carousel</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>