<div class="gx-card gx-page-block">
    <div class="gx-card-header header-575">
        <h4 class="gx-card-title">Customization</h4>
        <!-- <div class="header-tools">
            <a href="#" class="m-r-10 gx-full-card">
                <i class="ri-fullscreen-line" title="Full Screen"></i></a>
        </div> -->
    </div>
    <div class="gx-card-content">
        <div class="file-customization">
            <ul>
                <li><strong>Navigation Bar: </strong>The template usually includes a
                    navigation
                    bar at the right sidebar, allowing users to jump to different sections
                    of
                    the
                    documentation quickly. This helps users find specific information
                    without
                    scrolling through the entire page.</li>
                <li><strong>Introduction: </strong>This section provides an overview of the
                    template or project, explaining its purpose, key features, and the
                    problems
                    it aims to solve. It helps users understand the context of the
                    documentation
                    and what they can expect from the template.</li>
                <li><strong>Installation: </strong>The installation section guides users
                    through
                    the process of setting up the template or integrating it into their
                    projects. It may include code snippets, terminal commands, or
                    step-by-step
                    instructions for various platforms.</li>
                <li><strong>Usage: </strong>In this section, users learn how to use the
                    template
                    effectively. It typically includes code examples, explanations of
                    important
                    functions, and demonstrations of how to achieve specific tasks.</li>
                <li><strong>Components: </strong>For template libraries or frameworks, this
                    section outlines the various components and modules available and
                    describes
                    their functionalities. It helps users understand the building blocks of
                    the
                    template.</li>
                <li><strong>License: </strong>This section specifies the template's
                    licensing
                    terms and conditions. It ensures users are aware of how they can use,
                    modify the template legally. and not for distribute or resale.</li>
                <li><strong>Additional Resources: </strong>Some templates include a section
                    for
                    additional resources, such as links to tutorials, community forums, or
                    support channels. It encourages users to explore more about the template
                    and
                    engage with the community.</li>
                <li><strong>Styling and Responsiveness: </strong>The template often
                    incorporates
                    CSS styles to ensure the documentation is visually appealing and easy to
                    read. It may also use responsive design to adapt to different screen
                    sizes
                    and devices.</li>
            </ul>
        </div>
    </div>
</div>