<div class="gx-card gx-page-block">
    <div class="gx-card-header header-575">
        <h4 class="gx-card-title">File Structure</h4>
        <!-- <div class="header-tools">
            <a href="#" class="m-r-10 gx-full-card">
                <i class="ri-fullscreen-line" title="Full Screen"></i></a>
        </div> -->
    </div>
    <div class="gx-card-content">
        <div class="file-structure">
            <ul class="gx-main-structure">
                <li><a href="javascript:void(0)" class="gx-struct-drop"><i class="ri-arrow-up-s-line"></i><i
                            class="ri-folder-open-line"></i>assets</a>
                    <ul class="gx-sub">
                        <li><a href="javascript:void(0)" class="gx-struct-drop"><i class="ri-arrow-up-s-line"></i><i
                                    class="ri-folder-4-line"></i>css</a>
                            <ul class="gx-hide">
                                <li><a href="javascript:void(0)" class="gx-struct-drop"><i
                                            class="ri-arrow-up-s-line"></i><i class="ri-folder-4-line"></i>vendor</a>
                                    <ul class="gx-hide">
                                        <li><i class="ri-file-list-2-line"></i>bootstrap.css
                                        </li>
                                        <li><i class="ri-file-list-2-line"></i>animate.css
                                        </li>
                                        <li><i class="ri-file-list-2-line"></i>remixicon.css
                                        </li>
                                        <li><i class="ri-file-list-2-line"></i>materialdesignicon.css
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="gx-hide">
                                <li><i class="ri-file-list-2-line"></i>dark.css</li>
                                <li><i class="ri-file-list-2-line"></i>style.css</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="gx-sub">
                        <li><a href="javascript:void(0)" class="gx-struct-drop"><i class="ri-arrow-up-s-line"></i><i
                                    class="ri-folder-4-line"></i>Fonts</a>
                            <ul class="gx-hide">
                                <li><a href="javascript:void(0)" class="gx-struct-drop"><i
                                            class="ri-folder-4-line"></i>icon</a></li>
                                <li><a href="javascript:void(0)" class="gx-struct-drop"><i
                                            class="ri-folder-4-line"></i>nunito</a></li>
                                <li><a href="javascript:void(0)" class="gx-struct-drop"><i
                                            class="ri-folder-4-line"></i>poppins</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="gx-sub">
                        <li><a href="javascript:void(0)" class="gx-struct-drop"><i class="ri-arrow-up-s-line"></i><i
                                    class="ri-folder-4-line"></i>img</a>
                            <ul class="gx-hide">
                                <li><a href="javascript:void(0)" class="gx-struct-drop"><i
                                            class="ri-arrow-up-s-line"></i><i class="ri-folder-4-line"></i>favicon</a>
                                    <ul class="gx-hide">
                                        <li><i class="ri-image-fill"></i>favicon.ico</li>
                                        <li><i class="ri-image-2-line"></i>favicon.png</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="gx-hide">
                                <li><a href="javascript:void(0)" class="gx-struct-drop"><i
                                            class="ri-arrow-up-s-line"></i><i class="ri-folder-4-line"></i>features</a>
                                    <ul class="gx-hide">
                                        <li><i class="ri-image-2-line"></i>1.png</li>
                                        <li><i class="ri-image-2-line"></i>2.png</li>
                                        <li><i class="ri-image-2-line"></i>3.png</li>
                                        <li><i class="ri-image-2-line"></i>4.png</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="gx-hide">
                                <li><a href="javascript:void(0)" class="gx-struct-drop"><i
                                            class="ri-arrow-up-s-line"></i><i class="ri-folder-4-line"></i>logo</a>
                                    <ul class="gx-hide">
                                        <li><i class="ri-image-2-line"></i>logo.png</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="gx-hide">
                                <li><a href="javascript:void(0)" class="gx-struct-drop"><i
                                            class="ri-arrow-up-s-line"></i><i class="ri-folder-4-line"></i>sidebar</a>
                                    <ul class="gx-hide">
                                        <li><i class="ri-image-line"></i>1.jpg</li>
                                        <li><i class="ri-image-line"></i>2.jpg</li>
                                        <li><i class="ri-image-line"></i>3.jpg</li>
                                        <li><i class="ri-image-line"></i>4.jpg</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="gx-hide">
                                <li><a href="javascript:void(0)" class="gx-struct-drop"><i
                                            class="ri-arrow-up-s-line"></i><i class="ri-folder-4-line"></i>tools</a>
                                    <ul class="gx-hide">
                                        <li><i class="ri-image-2-line"></i>bg-0.png</li>
                                        <li><i class="ri-image-2-line"></i>bg-1.png</li>
                                        <li><i class="ri-image-2-line"></i>bg-2.png</li>
                                        <li><i class="ri-image-2-line"></i>bg-3.png</li>
                                        <li><i class="ri-image-2-line"></i>bg-4.png</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="gx-sub">
                        <li><a href="javascript:void(0)" class="gx-struct-drop"><i class="ri-arrow-up-s-line"></i><i
                                    class="ri-folder-4-line"></i>js</a>
                            <ul class="gx-hide">
                                <li><a href="javascript:void(0)" class="gx-struct-drop"><i
                                            class="ri-arrow-up-s-line"></i><i class="ri-folder-4-line"></i>vendor</a>
                                    <ul class="gx-hide">
                                        <li><i class="ri-file-list-2-line"></i>bootstrap.js
                                        </li>
                                        <li><i class="ri-file-list-2-line"></i>jquery-3.6.4.min.js
                                        </li>
                                    </ul>
                                </li>
                                <li><i class="ri-file-list-2-line"></i>main.js</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="gx-sub">
                        <li><a href="javascript:void(0)" class="gx-struct-drop"><i class="ri-arrow-up-s-line"></i><i
                                    class="ri-folder-4-line"></i>scss</a>
                            <ul class="gx-hide">
                                <li><a href="javascript:void(0)" class="gx-struct-drop"><i
                                            class="ri-arrow-up-s-line"></i><i class="ri-folder-4-line"></i>base</a>
                                    <ul class="gx-hide">
                                        <li><i class="ri-file-list-2-line"></i>_typography.scss
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)" class="gx-struct-drop"><i
                                            class="ri-arrow-up-s-line"></i><i
                                            class="ri-folder-4-line"></i>components</a>
                                    <ul class="gx-hide">
                                        <li><i class="ri-file-list-2-line"></i>_breadcrumb.scss
                                        </li>
                                        <li><i class="ri-file-list-2-line"></i>_common.scss
                                        </li>
                                        <li><i class="ri-file-list-2-line"></i>_sidebar.scss
                                        </li>
                                        <li><i class="ri-file-list-2-line"></i>_tools-sidebar.scss
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)" class="gx-struct-drop"><i
                                            class="ri-arrow-up-s-line"></i><i class="ri-folder-4-line"></i>layouts</a>
                                    <ul class="gx-hide">
                                        <li><i class="ri-file-list-2-line"></i>_cards.scss
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)" class="gx-struct-drop"><i
                                            class="ri-arrow-up-s-line"></i><i class="ri-folder-4-line"></i>utilities</a>
                                    <ul class="gx-hide">
                                        <li><i class="ri-file-list-2-line"></i>_mixins.scss
                                        </li>
                                        <li><i class="ri-file-list-2-line"></i>_variables.scss
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="gx-hide">
                                <li><i class="ri-file-list-2-line"></i>dark.scss</li>
                                <li><i class="ri-file-list-2-line"></i>style.scss</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)"><i class="ri-file-text-line"></i>index.html</a>
                </li>
            </ul>
        </div>
    </div>
</div>