<div class="gx-card gx-page-block">
    <div class="gx-card-header header-575">
        <h4 class="gx-card-title">Introduction</h4>
        <!-- <div class="header-tools">
            <a href="#" class="m-r-10 gx-full-card">
                <i class="ri-fullscreen-line" title="Full Screen"></i></a>
        </div> -->
    </div>
    <div class="gx-card-content">
        <div class="intro">
            <p>Welcome to the documentation for the Guidex template! This page will guide
                you on
                how to use and customize the template to suit your needs.</p>
            <h1 class="main-heding">Guidex - Online Documentation Template.</h1>
            <p>An online documentation HTML template is a pre-designed structure and layout
                that
                helps developers and creators present their template, projects, or products
                in
                an organized and user-friendly manner on the web. It serves as a guide or
                reference for users, providing comprehensive information about the
                template's
                features, installation process, usage instructions, and other essential
                details.
            </p>
            <p>The primary purpose of an online documentation HTML template is to facilitate
                effective communication between the developers and end-users by offering a
                clear
                and easy-to-navigate interface for accessing relevant information. Below is
                a
                brief description of the key components typically found in an online
                documentation HTML template:</p>
            <p>An effective online documentation HTML template provides clear and concise
                information, encourages user engagement, and enhances the overall user
                experience. It simplifies the process of creating comprehensive
                documentation
                and helps developers deliver a valuable product to their users.</p>
        </div>
    </div>
</div>