<div class="gx-card gx-page-block">
    <div class="gx-card-header header-575">
        <h4 class="gx-card-title">Typography</h4>
        <!-- <div class="header-tools">
            <a href="javascript:void(0)" class="m-r-10 gx-full-card">
                <i class="ri-fullscreen-line" title="Full Screen"></i></a>
        </div> -->
    </div>
    <div class="gx-card-content">
        <div class="typo m-b-24">
            <ul class="nav nav-tabs" id="myTab1" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="preview-tab" data-bs-toggle="tab" data-bs-target="#preview"
                        type="button" role="tab" aria-controls="preview" aria-selected="true"><i
                            class="ri-eye-line"></i>Preview</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="code-tab" data-bs-toggle="tab" data-bs-target="#code" type="button"
                        role="tab" aria-controls="code" aria-selected="false"><i
                            class="ri-code-s-slash-line"></i>Code</button>
                </li>
            </ul>
            <div class="tab-content m-b-24" id="myTabContent1">
                <div class="tab-pane fade show active" id="preview" role="tabpanel" aria-labelledby="preview-tab">
                    <h1>Heading tag h1</h1>
                    <h2>Heading tag h2</h2>
                    <h3>Heading tag h3</h3>
                    <h4>Heading tag h4</h4>
                    <h5>Heading tag h5</h5>
                    <h6>Heading tag h6</h6>
                </div>
                <div class="tab-pane fade" id="code" role="tabpanel" aria-labelledby="code-tab">
                    <!-- Presentation code -->
                    <pre class="language-markup">
<code class="language-markup">&lt;h1&gt;Heading tag h1&lt;/h1&gt;
&lt;h2&gt;Heading tag h2&lt;/h2&gt;
&lt;h3&gt;Heading tag h3&lt;/h3&gt;
&lt;h4&gt;Heading tag h4&lt;/h4&gt;
&lt;h5&gt;Heading tag h5&lt;/h5&gt;
&lt;h6&gt;Heading tag h6&lt;/h6&gt;</code>
</pre>
                </div>
            </div>
            <p>Typography in documentation involves selecting readable fonts, maintaining
                appropriate font sizes, creating a hierarchy with varying styles, spacing
                lines
                for clarity, and using whitespace and alignment to balance content. Ensure
                good
                contrast, use bullet points for lists, maintain consistency, and prioritize
                accessibility for a visually pleasing and easily understandable document.
            </p>

        </div>
        <div class="typo">
            <h5>Color Style</h5>
            <p>Just use classes to change color<b>".text-primary, .text-secondary,
                    .text-success, .text-danger, .text-warning and .text-info"</b> in
                bootstrap.
            </p>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="preview2-tab" data-bs-toggle="tab" data-bs-target="#preview2"
                        type="button" role="tab" aria-controls="preview2" aria-selected="true"><i
                            class="ri-eye-line"></i>Preview</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="code-tab2" data-bs-toggle="tab" data-bs-target="#code2" type="button"
                        role="tab" aria-controls="code2" aria-selected="false"><i
                            class="ri-code-s-slash-line"></i>Code</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="preview2" role="tabpanel" aria-labelledby="preview2-tab">
                    <h1 class="text-primary">Heading tag h1</h1>
                    <h2 class="text-secondary">Heading tag h2</h2>
                    <h3 class="text-success">Heading tag h3</h3>
                    <h4 class="text-danger">Heading tag h4</h4>
                    <h5 class="text-warning">Heading tag h5</h5>
                    <h6 class="text-info">Heading tag h6</h6>
                </div>
                <div class="tab-pane fade" id="code2" role="tabpanel" aria-labelledby="code-tab">
                    <!-- Presentation code -->
                    <pre class="language-markup">
<code class="language-markup">&lt;h1 class="text-primary"&gt;Heading tag h1&lt;/h1&gt;
&lt;h2 class="text-secondary"&gt;Heading tag h2&lt;/h2&gt;
&lt;h3 class="text-success"&gt;Heading tag h3&lt;/h3&gt;
&lt;h4 class="text-danger"&gt;Heading tag h4&lt;/h4&gt;
&lt;h5 class="text-warning"&gt;Heading tag h5&lt;/h5&gt;
&lt;h6 class="text-info"&gt;Heading tag h6&lt;/h6&gt;</code></pre>
                </div>
            </div>
        </div>
    </div>
</div>