<!-- Header -->
<header class="gx-header">
    <div class="container-fluid">
        <div class="gx-header-items">
            <div class="left-header">
                <a href="index.html" class="gx-toggle-sidebar">
                    <img src="assets/img/logo/full-logo-2.png" alt="full-logo" class="white-mode-logo">
                    <img src="assets/img/logo/full-logo.png" alt="full-logo" class="dark-mode-logo">
                </a>
                <div class="header-search-box">
                    <div class="header-search-drop">
                        <a href="javascript:void(0)" class="open-search">
                            <i class="ri-search-line"></i>
                            <p class="none">hello</p>
                        </a>
                        <form class="gx-search">
                            <input class="search-input" type="text" placeholder="Search...">
                            <a href="javascript:void(0)" class="search-btn">
                                <i class="ri-search-line"></i>
                                <p class="none">hello</p>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="right-header">
                <a href="javascript:void(0)" class="btn-topic m-r-5">
                    <i class="ri-menu-2-line"></i>
                    <p class="none">hello</p>
                </a>
                <div class="right-header">
                    <select name="lang" id="lang">
                        <option onclick="changeLanguage('en')" value="en">English</option>
                        <option onclick="changeLanguage('ar')" value="ar">Arabic</option>
                        <option onclick="changeLanguage('fr')" value="fr">Fransh</option>
                    </select>
                </div>
                <a href="#" class="gx-btn-primary">Buy Now</a>
            </div>
        </div>
    </div>
</header>