<div class="gx-banner-auth gx-card">
    <div class="gx-detail">
        <div class="gx-image">
            <img src="assets/img/demo-img/preview.png" alt="imgpsh_fullsize_anim.png">
        </div>
        <ul class="auth-detail">
            <li><strong>Item Name : </strong>&nbsp; Guidex - Online Documentation Template.
            </li>
            <li><strong>Item Version : </strong>&nbsp; 3.1.0</li>
            <li><strong>Author : </strong>&nbsp; ashishmaraviya</li>
            <li><strong>Copyright : </strong>&nbsp; 2024</li>
        </ul>
    </div>
    <ul class="auth-detail">
        <li><strong>Sales : </strong>&nbsp; 7000 +</li>
        <li class="rating"><strong>Rating : </strong>&nbsp; <i class="ri-star-fill"></i> 5.0</li>
    </ul>
</div>