<div class="gx-banner-auth gx-card">
    <div class="gx-detail">
        <div class="gx-image">
            <img src="assets/img/demo-img/preview.png" alt="imgpsh_fullsize_anim.png">
        </div>
        <ul class="auth-detail">
            <li>
                <strong>Item Name : </strong>
                <span data-i18n="hero.theme_name">Guidex - Online Documentation Template.</span>
            </li>
            <li>
                <strong>Item Version : </strong>
                <span data-i18n="hero.theme_version">3.1.0</span>
            </li>
            <li>
                <strong>Author : </strong>
                <span data-i18n="hero.author">ashishmaraviya</span>
            </li>
            <li>
                <strong>Copyright : </strong>
                <span data-i18n="hero.copyright">2024</span>
            </li>
        </ul>
    </div>
    <ul class=" auth-detail">
        <li>
            <strong>Sales : </strong>
            <span data-i18n="hero.sales">7000 +</span>
        </li>
        <li class="rating">
            <strong>Rating : </strong>
            <i class="ri-star-fill"></i>
            <span data-i18n="hero.rating">5.0</span>
        </li>
    </ul>
</div>