<div class="gx-card-header">
    <h4 class="gx-card-title">Topics</h4>
</div>

<div class="gx-card-content gx-topic-list">
    <nav>
        <ul class="gx-sb-list">
            <li class="gx-sb-item sb-drop-item load-active">
                <a href="javascript:void(0)" class="gx-drop-toggle">
                    <i class="ri-dashboard-3-line"></i>
                    <span class="condense">Getting Started<i class="drop-arrow ri-arrow-down-s-line"></i></span>
                </a>
                <ul class="gx-sb-drop condense" style="display: block;">
                    <li class="list"><a href="#gx_instructions" class="gx-page-link drop"><i
                                class="ri-record-circle-line"></i>Introduction</a></li>
                    <li class="list"><a href="#gx_features" class="gx-page-link drop"><i
                                class="ri-record-circle-line"></i>Core Features</a></li>
                    <li class="list"><a href="#gx_structure" class="gx-page-link drop"><i
                                class="ri-record-circle-line"></i>File Structure</a></li>
                    <li class="list"><a href="#gx_starter" class="gx-page-link drop"><i
                                class="ri-record-circle-line"></i>Starter Page</a></li>
                    <li class="list"><a href="#gx_custom" class="gx-page-link drop"><i
                                class="ri-record-circle-line"></i>Customization</a></li>
                </ul>
            </li>
            <li class="gx-sb-item sb-drop-item">
                <a href="javascript:void(0)" class="gx-drop-toggle">
                    <i class="ri-file-text-line"></i>
                    <span class="condense">Content<i class="drop-arrow ri-arrow-down-s-line"></i></span>
                </a>
                <ul class="gx-sb-drop condense">
                    <li class="list"><a href="#gx_typo" class="gx-page-link drop"><i
                                class="ri-record-circle-line"></i>Typography</a></li>
                    <li class="list"><a href="#gx_icons" class="gx-page-link drop"><i
                                class="ri-record-circle-line"></i>Icons</a></li>
                    <li class="list"><a href="#gx_code_preview" class="gx-page-link drop"><i
                                class="ri-record-circle-line"></i>Code</a></li>
                    <li class="list"><a href="#gx_img" class="gx-page-link drop"><i
                                class="ri-record-circle-line"></i>Images</a></li>
                </ul>
            </li>
            <li class="gx-sb-item sb-drop-item">
                <a href="javascript:void(0)" class="gx-drop-toggle">
                    <i class="ri-open-source-line"></i>
                    <span class="condense">Source Files<i class="drop-arrow ri-arrow-down-s-line"></i></span>
                </a>
                <ul class="gx-sb-drop condense">
                    <li class="list"><a href="#gx_source_css" class="gx-page-link drop"><i
                                class="ri-record-circle-line"></i>CSS Files</a></li>
                    <li class="list"><a href="#gx_source_js" class="gx-page-link drop"><i
                                class="ri-record-circle-line"></i>JS Files</a></li>
                    <li class="list"><a href="#gx_source_credit" class="gx-page-link drop"><i
                                class="ri-record-circle-line"></i>Credits</a></li>
                </ul>
            </li>
            <li class="gx-sb-title condense">Configuration</li>
            <li class="gx-sb-item sb-drop-item">
                <a href="javascript:void(0)" class="gx-drop-toggle">
                    <i class="ri-install-line"></i>
                    <span class="condense">Installation<i class="drop-arrow ri-arrow-down-s-line"></i></span>
                </a>
                <ul class="gx-sb-drop condense">
                    <li class="list">
                        <a href="#gx_local" class="gx-page-link drop">
                            <i class="ri-record-circle-line"></i>
                            Local Server
                        </a>
                    </li>
                    <li class="list">
                        <a href="#gx_live" class="gx-page-link drop">
                            <i class="ri-record-circle-line"></i>
                            Live Server
                        </a>
                    </li>
                </ul>
            </li>
            <li class="gx-sb-title condense">Info</li>
            <li class="gx-sb-item">
                <a href="#Change_log" class="gx-page-link">
                    <i class="ri-time-line"></i><span class="condense"><span class="hover-title">Change
                            Log</span> </span>
                </a>
            </li>
            <li class="gx-sb-item">
                <a href="#thanks" class="gx-page-link">
                    <i class="ri-star-smile-line"></i>
                    <span class="condense">
                        <span class="hover-title">Thank You</span>
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</div>